<div class="container">


    <h2>My Experiences</h2>

    <h4>Education</h4>

    <ul>
        <li> Elementary: ISB (Bucharest/Romania) Years 1-3,
            ISB (Bremen/Germany) Years 3-5.</li>
        <li> High School: IES (Västerås/Sweden) Years 6-9.</li>
        <li> Gymnasium: TBS (Västerås/Sweden) 3 Years.
            Economics Program with specialization in
            marketing and financing.</li>
        <li>University: Ecutbildning (Västerås/Sweden)
            Ongoing.
            Programming - Specialization in Web
            Development</li>
    </ul>

    <h4>My job experiences</h4>

    <h5>Jensens Bofhus / Internship 2014</h5>

    <p>
        Restaurant waiter.
        Jensens Bofhus is a steak restaurant. The experiences I got
        from working in this restaurant were basic: how to serve
        glasses, clean dishes and unpack frozen foods. This was an
        internship.
    </p>

    <h5>Schlumberger / Internship 2015</h5>

    <p>Manufacturing Engineer.
        Schlumberger is a oil and drills manufacturing company
        which also is world wide. In Schlumberger I got to work with
        some things that weren't too serious since this was an
        internship for my school, when I was there I got to learn how
        to un-rust pipes, recolor them and learn about other things
        such as drills and the extraction of oils. This was one of my
        internships from school.
    </p>

    <h5>Rusta / 2016</h5>

    <p>Warehouse worker.
        Rusta is a Furniture/Supermarket store, At Rusta I got to
        work behind the store in the warehouse, it was very
        independant which means I got to do a lot by myself and
        help out customers whenever they needed help, I also got to
        assemble stuff in the store such as furniture and grills and in
        the mornings we would have crates that needed to be
        restocked before the day was ready to go.
    </p>

    <h5>Global Living / Internship 2017</h5>

    <p>
        Warehouse/Delivery
        Global living is a furniture store with more serious qualities
        in fabrics and textures. They also personally deliver things
        that buyers have bought, which is one of the qualities I got
        to do, I had to carry sofas, beds and frames, tables… etc, and
        personally deliver them to the buyer. I also got to get
        experience in interior designing when I worked in their
        shops, they had 2 stores which were located in spain palma,
        and I go to help customers pick fabrics and help them find
        their perfect bed/bed frames.
    </p>

    <h5>Foodhallen 2018-2019</h5>

    <p>
        Barback/Runner
        I worked as a barback in Foodhallen which is a food court in
        the netherlands, I got to do things such as re-stocking the
        drinks when needed, cleaning the place, help customers and
        taking in deliveries in the mornings, It was like working at a
        warehouse at times but sometimes I would be a runner as
        well which was just making sure that the place was tidy and
        everyone was satisfied. Occasionally I would be behind the
        bar and serve tap beers or can drinks to the customers.

    </p>

    <h5>IKEA 2019-2020</h5>

    <p>
        Logistics
        IKEA is a world wide furniture company, I used to work in the
        logistics section, this is one of my more serious jobs and
        where I got a lot of experience in the logistics field such as
        warehouses. Ikea is a very customer friendly place, so being
        able to work there means that you can cope with people
        well and help them even though you have a lot of things to
        do at the same time. Usually my job would be picking online
        purchases and placing them ready for deliveries and I also
        got to restock the store in the very early mornings. Ikea gave
        me experience with a stacker which is a handy tool for being
        able to drive pallets around.
    </p>

    <h5>Other Experiences</h5>

    <h6>Programmer.</h6>

    <p>
        I'm also good with computers, I am
        learning how to code, since it's
        something that I have a great interest in.
        I want to become a programmer and do
        web development.
        Recently I have started in a university for
        programming and I have been studying
        for 1 year. So far I am educated enough
        to create a website that has good
        functions, good looks and easy user
        usability and I have been taught HTML,
        CSS, Java and complex java, such as (Vue,React and Angular).
        </p>
</div>