<div class="container">
    <h1>Jose Verbakel</h1>
  
    <h2>About Me</h2>
  
    <h4>Personlig profil</h4>
  
    <p>I believe that I am a genuine person and
      take my workspace serious. I value
      respect a lot when it comes to
      communication.</p>
  
    <h4>Färdigheter</h4>
  
    <ul>
      <li> Motivated and disciplined as a person.</li>
      <li> Get happy by helping others.</li>
      <li> Flytande på samtalsnivå i engelska, spanska, svenska, holländska och tyska.</li>
      <li> Lagspelare (Team Player.)</li>
    </ul>
  
    <h4>Om mig själv</h4>
    <p>
      My name is José Verakel. I was born in Venezuela (latin
      America). I have lived in many countries so I have a lot of
      cultural experience and have seen a lot for being a young
      guy.
      My hobbies are usually me programming, playing games
      with my friends, and if i'm not in front of my computer I am
      outside with my friends or active activities such as sports. But
      due to recent events of the pandemic I usually sit at home
      and educate myself in things that interest me.
      My strengths are that I can deal with problems very quickly
      and well under heavy pressure due to my experiences from
      my past jobs and from other activities. I am very friendly to
      any type of customer even when they are having a bad day, I
      mind my own business and am very straightforward with
      anything. I'm usually very motivated and have great
      ambition when something really interests or helps me.
    </p>
  
  </div>